<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <link href="/styles/recommend.css" rel="stylesheet" />
  </head>
  <body>
    <!-- prettier-ignore -->
    <%- include('includes/header.ejs') %>
    <%- include('includes/aside.ejs') %>
    <main>
      <h1>Share your favorite restaurant!</h1>
      <form action="/recommend" method="post">
        <div class="form-control">
          <label for="name">Restaurant name</label>
          <input id="name" name="name" type="text" required />
        </div>
        <div class="form-control">
          <label for="address">Address</label>
          <input id="address" name="address" type="text" required />
        </div>
        <div class="form-control">
          <label for="cuisine">Type of cuisine</label>
          <input
            id="cuisine"
            name="cuisine"
            type="text"
            placeholder="e.g. Mexican"
            required
          />
        </div>
        <div class="form-control">
          <label for="website">Restaurant website</label>
          <input id="website" name="website" type="url" required />
        </div>
        <div class="form-control">
          <label for="description">Why do you recommend it?</label>
          <textarea
            id="description"
            name="description"
            rows="5"
            required
          ></textarea>
        </div>
        <button>Share Restaurant</button>
      </form>
    </main>
  </body>
</html>
